.blog-listing {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    li {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #eee;
        padding: 10px;
        list-style: none;
        margin-bottom: 2%;

        @include breakpoint(phablet) {
            width: 48%;
            margin-right: 1%;
            margin-left: 1%;
        }

        @include breakpoint(tablet) {
            width: 31.333%;
        }

        img {
            height: auto;
        }

        .entry-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            padding: 20px;

            h2 {
                font-size: 20px;
                line-height: 26px;

                a {
                    color: $black;
                }
            }

            p {
                margin-top: auto;
            }
        }

        .readmore {
            color: $black;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.post-navigation {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-next {
    display: block;
    position: relative;
    padding: 15px;
    background-color: $black;
    margin-left: auto;

    a {
        color: $white;
    }
}

.nav-previous {
    display: block;
    position: relative;
    padding: 15px;
    background-color: $black;
    margin-right: auto;

    a {
        color: $white;
    }
}

.listing-banner {
    width: 100%;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 2%;

    @include breakpoint(phablet) {
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }

    @include breakpoint(tablet) {
        width: 31.333%;
    }
}