.location_intro {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    h1 {
        font-weight: 600;
        font-size: 60px;
        line-height: 70px;
    }

    p {
        font-size: 24px;
        line-height: 32px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.team-members {

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li {
        list-style: none;
        padding: 10px;
        background-color: #eee;
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;

        &:nth-of-type(2n) {
            margin-right: 0;
        }

        @include breakpoint(tablet) {
            width: 32%;

            &:nth-of-type(2n) {
                margin-right: 2%;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        a {
            &:not(.location-content a) {
                display: block;
                position: relative;
                width: 100%;
                height: auto;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.member-content {
    padding: 20px;
}

.member-name {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 26px;
    color: $black;
}